- sort_by_menu_items = ["Name", "Target Leads", "Target Revenue", "Actual Leads", "Actual Revenue", "Start Date", "End Date", "Date Created", "Date Updated"]
- sort_by_menu_items.map! do |item|
  - [ item.titleize, item.downcase ]

== Sort campaigns by #{select_tag(:sort_by, options_for_select(sort_by_menu_items))}.
